body{
    background: white;
    background: linear-gradient(to left, #17BEBB, #85CB33);
}


div{
  margin: 10px;
  
    
}

.main{
    
}   

.topp{

}


.logo{
  text-decoration: none;
  color: white;
}

.nav{
   
    position: sticky;
    top: 0;
}   
.navLink{
  text-decoration: none;
  color: white;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}



@media (min-width: 850px){
  .top-nav{
    border-radius: 100px;
  }
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
  
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > .navLink {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 850px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > .navLink {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > .navLink:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.innhold{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 
    justify-content: center;
    flex-direction: column;
}
.info{
  display: flex;
  justify-content: center;

}

.infoInnhold{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
  color: white;

}

@media only screen and (max-width: 1000px){

    .innhold{
        display: flex;
        flex-wrap: wrap;
       
        justify-content: center;
        

    }
}
.oppgaveLink{
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}



.oppgave{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 75%;

}



.oppgaveInnhold{
    border-color: rgba(255, 255, 255, 0.1);
    
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 35%;
    min-width: 20%;
    min-height: 100%;
    border-radius: 10px;
    margin: 40px;
    background: linear-gradient(to left, #f46b45, #eea849);
    -webkit-transition: background 2s ease-out;
    -moz-transition: background 2s ease-out;
    -o-transition: background 2s ease-out;
    transition: background 2s ease-out;
    

}

.oppgaveInnhold:hover{
  background: linear-gradient(to right, #f46b45, #eea849);
}



.button{
 
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    background: none;
}
img{
   
    width:80%; height:100%;
    object-fit: fill;
}

#vid, #vid2, #vid3, #vid4, #vid5{
    display: none;
}

