div{
    border: 2px solid black;
    
}
main{
    width: 100%;
    max-width: auto ;
}

.sidetittel {
    text-align: center;
}

.innhold {
    height: auto;
    padding: 10px;
}

.footer {
    
    text-align: center;
    height: 100px;
}