div{
    border: 2px solid black;
}

.topp{
 padding: 5px;   
}


.nav{

}
.nav a{

    padding: 5px 10px 5px 10px ;

    font-size: larger;
    text-decoration: none;
    color:black;
    font-weight: bold;

}
.nav li  {
    
    display: inline;
}
.innhold{
    height: auto;
    padding: 10px;
}
.fish {
    height: 200px;
}
.footer{
    height: 100px;
    padding: 20px
}