div{
    border: 2px solid black;
    max-width: contain;
}
.main{
    margin: auto;
}

.topp{
 padding: 5px;   
}



.innhold{
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
}
.innholdsTittel{
    order: 1;
}
.test{
    order: 2;
}
.artikkel{
    order: 99;
    border: 0px;
    max-width: 200px;
    margin: 40px;
}
.artikkelInnhold{
    border: 0px;
    display: flex;
    order: 3;
}
.innhold > div {

    margin: 10px;
    padding: 20px;

  }
.fish {
    height: 150px;
}
.footer{
    display: flex;
    height: auto;
    flex-direction: column;
   
}

.footerInnhold{
    display: flex;
    border: 0px;
}

.copy{
    padding: 100px 0px 0px 0px; 
    text-align: center;
}
.copyright{
    border: 0px;
}

h2{
    padding: 20px;
}